<div class="content_show">
  <div class="add_sort">
    <%= render 'form' %>
    <%= link_to 'Manage articles', articles_path%>
  </div>
  <ol class="sort_list">
    <% @sorts.each do |sort| %>
        <li>
          <%= sort.name %>
          <span><%= link_to 'Edit', edit_sort_path(sort) %></span>
          <span><%= link_to 'Destroy', sort, method: :delete, data: { confirm: 'Are you sure?' } %><span>
        </li>
    <% end %>
</ol>

</div>

