<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>
    <%= f.text_field :title %>
  </h1>
  <div class="message">
    Author:
    <%= f.text_field :author %>
    <%= f.hidden_field :date %>
  </div>
  <div class="field">
    <%= f.text_area :content %>
  </div>
   <p>
    <b>Sort:</b>
   <%= select("article","sort",@sorts.collect{|t|[t.name,t.id]})%>
  </p>
  <div class="actions" id="show_action">
    <%= f.submit %>
  </div>
<% end %>
