<div class="header">
  <div class="header_main">
    <h1>自知网</h1>
    <div class="sign">寥寥心底事，天涯各自知~</div>
    <span><%= link_to 'Index',welcome_index_path %></span>
    <span><%= link_to 'About',about_index_path %></span>
  </div>
</div>

<div class="content">
 <div class="content_left" id="con_left">
  <p><span>当前位置:</span>all articles</p>
    <% @articles.each do |article| %>
    <div class="article_list">
        <%= link_to article.title,article %>
        <span><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        <span><%= link_to 'Edit', edit_article_path(article) %></span>
        <span><%= article.date %></span>
    </div>
<% end %>
 </div>
 <div class="content_right">
    <div class="write_article">
      <%= link_to 'New Article', new_article_path %>
    </div>
    <div class="typelist" id="type_login">
       <ul>
             <li><%= link_to 'all articles',articles_path %></li>
          <% @sorts.each do |t|%>
             <li>
                <%= link_to t.name, { :controller => 'articles', :action => 'partshow', :id =>t }%>
             </li>
          <% end %>
             <li>
              <%= link_to 'Manage Sort', sorts_path %>
             </li>
       </ul>
    </div>
 </div>
</div>

</div>

