<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Author:</b>
  <%= @article.author %>
</p>

<p>
  <b>Date:</b>
  <%= @article.date %>
</p>

<p>
  <b>Content:</b>
  <%= @article.content %>
</p>

<p>
  <b>Sort:</b>
  <%= Sort.find_by_id(@article.sort).name%>
</p>

<h2>Comments:</h2>
<% @article.comments.each do |comment|%>
   <p>
     <b>Commenter:</b>
     <%= comment.commenter%>
   </p>
   <p>
      <b>Comment:</b>
      <%= comment.body %>
   </p>
   <p>
      <%= link_to "destroy Comment" ,[comment.article, comment], method: :delete, data: { confirm: 'Are you sure?'}%>
   </p>
<% end %>
<p>
   <h2>Add a Comment:</h2>
   <%= form_for([@article, @article.comments.build]) do |f|%>
     <div class="field">
       <%= f.label :commenter%>
       <%= f.text_field :commenter%>
     </div>
     <div class="field">
        <%= f.label :body%>
        <%= f.text_area :body%>
     </div>
     <div class="action">
         <%= f.submit %>
     </div>
   <% end %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
