<div class="content_show">
   <p>
    <b>Sort:</b>
    <%= Sort.find_by_id(@article.sort).name%>
  </p>
  <p id="notice"><%= notice %></p>
  <h1>
    <%= @article.title %>
  </h1>
  <div class="message">
    Author:
    <%= @article.author %>
    Date:
    <%= @article.date %>
  </div>

  <div class="article_content">
    <%= @article.content %>
  </div>

  <% @article.comments.each do |comment|%>
   <div class="comments">
     <span class="commenter">
       <%= comment.commenter%>:
     </span>
     <span class="comment_body">
        <%= comment.body %>
     </span>
     <span class="destroy_comment">
        <%= link_to "delete" ,[comment.article, comment], method: :delete, data: { confirm: 'Are you sure?'}%>
     </span>
    </div>
  <% end %>

  <div class="add_comment">
     <%= form_for([@article, @article.comments.build]) do |f|%>
       <div class="field">
         <%= f.hidden_field :commenter%>
       </div>
       <div class="field">
          <%= f.text_area :body%>
       </div>
       <div class="action" id="show_action">
           <%= f.submit %>
       </div>
     <% end %>
  </div>

  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
</div>
