<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
	  <div class="header_main">
	    <h1>自知网</h1>
	    <div class="sign">寥寥心底事，天涯各自知~</div>
	    <span><%= link_to 'Index',welcome_index_path %></span>
	    <span><%= link_to 'About',about_index_path %></span>
	  </div>
    </div>
    <%= yield %>
  <footer>
      <p>© Company 2013</p>
  </footer>


</body>
</html>
